<!-- NAVBAR -->

<nav class="navbar navbar-expand-lg navbar-dark bg-dark shadow-sm">

  <div class="container">

    <a class="navbar-brand fw-bold fs-4">
      Proyecto Integrador
    </a>

    <div>

      <a routerLink="/" class="btn btn-outline-light me-2">
        Login
      </a>

      <a routerLink="/register" class="btn btn-success">
        Registro
      </a>

    </div>

  </div>

</nav>


<!-- REGISTER -->

<div class="register-bg">

  <div class="register-card">

    <div class="register-header">

      <h3>Crear Cuenta</h3>
      <p>Completa la información para registrarte</p>

    </div>

    <form #registerForm="ngForm" (ngSubmit)="register()">


      <!-- NOMBRE -->

      <div class="form-group">

        <label>Nombre</label>

        <input
        type="text"
        class="form-control"
        placeholder="Tu nombre"
        [(ngModel)]="user.name"
        name="name"
        required
        pattern="^[a-zA-ZáéíóúÁÉÍÓÚñÑ ]+$"
        #name="ngModel"
        >

        <div *ngIf="name.invalid && name.touched" class="error">
          El nombre solo puede contener letras
        </div>

      </div>


      <!-- EMAIL -->

      <div class="form-group">

        <label>Correo electrónico</label>

        <input
        type="email"
        class="form-control"
        placeholder="usuario@email.com"
        [(ngModel)]="user.email"
        name="email"
        required
        pattern="^[^\s@]+@[^\s@]+\.[^\s@]+$"
        #email="ngModel"
        >

        <div *ngIf="email.invalid && email.touched" class="error">
          Ingresa un correo válido
        </div>

      </div>


      <!-- PASSWORD -->

      <div class="form-group">

        <label>Contraseña</label>

        <input
        type="password"
        class="form-control"
        placeholder="Mínimo 8 caracteres"
        [(ngModel)]="user.password"
        name="password"
        required
        pattern="^(?=.*[A-Z])(?=.*[0-9]).{8,}$"
        #password="ngModel"
        >

        <div *ngIf="password.invalid && password.touched" class="error">
          Debe tener 8 caracteres, una mayúscula y un número
        </div>

      </div>


      <button
      class="btn btn-register w-100"
      [disabled]="registerForm.invalid"
      >
        Registrarse
      </button>

    </form>


    <div class="divider"></div>

    <a routerLink="/" class="btn btn-outline-secondary w-100">
      Volver al login
    </a>

  </div>

</div>